* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #170550;
    padding: 16px 0px;
    align-items: center;
}

.logo,
span {
    font-family: "Pacifico", cursive;
    font-size: 20px;
}

.logo span {
    color: #F86F03;
}

nav a {
    text-decoration: none;
    color: white;
    position: relative;
}

nav li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: 0%;
    left: 0%;
    margin-bottom: -2px;
    transition: 0.4s ease-in;
}

nav li a:hover::after {
    width: 100%;
}

nav li {
    display: inline-flex;
    padding: 0px 10px;
}

#nav_icon{
    display: none;
}

.hire a {
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
    color: #170550;
}

.banner_container {
    display: flex;
    height: 100vh;
    background-color: #31065A;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    flex: 1;
}

.text,
.banner_image {
    max-width: 30%;
    line-height: 1.8;
}

.hi1 {
    color: #F86F03;
    font-size: 20px;
    font-weight: 500;
}

.banner_image {
    background-image: url(./images/Bannerimage.png);
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social {
    padding: 10px 0px;
}

.social i {
    border: 1px solid white;
    padding: 6px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
    color: white;
}

.social i:hover {
    color: black;
    background-color: white;
}

.down_cv {
    margin-top: 10px;
    background-color: #F86F03;
    padding: 10px 30px;
    display: flex;
    width: fit-content;
    border-radius: 50px;
    text-decoration: none;
    color: white;
}

.position {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    color: #F86F03;
}

.hire_btn2 {
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
    color: #170550;
    display: none;
}

.about{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: #170550;
    color: white;
}

.about>h2{
    padding: 15px;
    position: relative;
}

.me{
    font-family: "poppins",sans-serif;
    font-size: 24px;
    color: #F86F03;
}

.about>h2::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 15%;
    left: 0%;
    right: 0%;
}

.about_container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 110px;
    margin: auto;
    width: 100%;
}

.about_text,.about_img{
    max-width: 40%;
}

.about_text p{
    margin-top: 20px;
    line-height: 1.8;
}

.about_text a{
    margin-top: 20px;
    background-color: white;
    color: #170550;
    display: flex;
    width: fit-content;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
}

.about_img{
    background-color: grey;
    height: 380px;
    width: 350px;
    border-radius: 25px;
}

.about_img img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.skills{
    height: fit-content;
    background-color: #31065A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.skills h2{
    margin-top: 10px;
    text-transform: capitalize;
    position: relative;
}
.skills>h2>span{
    font-family: "poppins",sans-serif;
    font-size: 24px;
    color: #F86F03;
}

.skills>h2::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0%;
}

.skills_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    width: 50%;
}

.skills_container>div{
    margin: 10px;
}

.skills_container>div h4{
    padding-bottom: 10px;
}

.html{
    position: relative;
}

.html::after{
    content: "";
    position: absolute;
    width:100%;
    height: 4px;
    border-radius: 20px;
    background-color: #43366A;
}

.html::before{
    content: "";
    position: absolute;
    background-color: #F86F03;
    width: 90%;
    height: 4px;
    left: 0%;
    bottom: -4px;
    border-radius: 20px;
    z-index: 1;
}


.css{
    position: relative;
}

.css::after{
    content: "";
    position: absolute;
    border-width: 100%;
    width:100%;
    height: 4px;
    background-color: #43366A;
    border-radius: 20px;
}

.css::before{
    content: "";
    position: absolute;
    background-color: #F86F03;
    width: 85%;
    height: 4px;
    left: 0%;
    bottom: -4px;
    border-radius: 20px;
    z-index: 1;
}

.js{
    position: relative;
}

.js::after{
    content: "";
    position: absolute;
    width:100%;
    height: 4px;
    background-color: #43366A;
    border-radius: 20px;
}

.js::before{
    content: "";
    position: absolute;
    background-color: #F86F03;
    width: 50%;
    height: 4px;
    left: 0%;
    bottom: -4px;
    border-radius: 20px;
    z-index: 1;
}

.bs{
    position: relative;
}

.bs::after{
    content: "";
    position: absolute;
    border-width: 100%;
    width:100%;
    height: 4px;
    background-color: #43366A;
    border-radius: 20px;
}

.bs::before{
    content: "";
    position: absolute;
    background-color: #F86F03;
    width: 80%;
    height: 4px;
    left: 0%;
    bottom: -4px;
    border-radius: 20px;
    z-index: 1;
}

.studies{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #170550;
    color: white;
    justify-content: center;
    align-items: center;
}

.studies>h2{
    padding-top: 14px;
    position: relative;
}

.studies>h2::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0%;
    bottom:0%;
}

.studies>h2>span{
    font-family: "poppins",sans-serif;
    font-size: 24px;
    color: #F86F03;
}

.studies_list{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.studies_list li{
    position: relative;
    list-style: none;
    padding-left: 20px;
    padding-bottom: 30px;
}

.studies_list li::before{
    content: url(./images/bx-book-alt.svg);
    width: 2px;
    height: 100%;
    position: absolute;
    left: -16px;
    top: 5px;
}

.projects{
    display: flex;
    flex-direction: column;
    height: 110vh;
    align-items: center;
    background-color: #31065A;
}

.projects h2{
    color: white;
    margin-top: 10px;
    position: relative;
}

.projects h2::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0%;
    bottom: 0%;
}

.project_container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    padding-top: 40px;
}

.project_container>div{
    max-width: 100%;
    border-radius: 25px;
}
.project_container>div>a,
.project_container>div>a>img{
    border-radius: 25px;
}

.project_items {
    height: 40vh;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project4 a{
    text-decoration: none;
    color: white;
}

.project_items img {
    height: 100%;
    width: 400px;
}

.more_project {
    display: none;
}

.project1{
    position: relative;
}

.project1>a::after{
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    top: 0%;
    border-radius: 20px;
    left:0px;
    background-color: rgba(173, 91, 251, 0.6);
    display: none;
}

.project1>a::before{
    content: url(./images/Vector.png);
    position: absolute;
    width:100%;
    height: 100%;
    color: white;
    z-index: 1;
    left: 45%;
    top: 50%;
    display: none;
}

.project1>a:hover::after,
.project1>a:hover::before{
    display: block;
}

.project2{
    position: relative;
}

.project2>a::after{
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    top: 0%;
    border-radius: 20px;
    left:0px;
    background-color: rgba(173, 91, 251, 0.6);
    display: none;
}

.project2>a::before{
    content: url(./images/Vector.png);
    position: absolute;
    width:100%;
    height: 100%;
    color: white;
    z-index: 1;
    left: 45%;
    top: 50%;
    display: none;
}

.project2>a:hover::after,
.project2>a:hover::before{
    display: block;
}


.project3{
    position: relative;
}

.project3>a::after{
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    top: 0%;
    border-radius: 20px;
    left:0px;
    background-color: rgba(173, 91, 251, 0.6);
    display: none;
}

.project3>a::before{
    content: url(./images/Vector.png);
    position: absolute;
    width:100%;
    height: 100%;
    color: white;
    z-index: 1;
    left: 45%;
    top: 50%;
    display: none;
}

.project3>a:hover::after,
.project3>a:hover::before{
    display: block;
}

/* Mobile View */
@media screen and (max-width:760px) {
    .hire a {
        display: none;
    }

    .banner_image {
        display: none;
    }

    .text {
        text-align: center;
        max-width: 70%;
        line-height: 1.7;
    }

    #nav_icon{
        display: block;
        color: white;
        font-size: 20px;
    }

    .down_cv {
        margin: auto;
        margin-top: 10px;
    }

    .hire_btn2 {
        display: inline-block;
        width: fit-content;
        margin-top: 20px;
    }

    nav {
        position: relative;
        display: flex;

    }

    nav ul{
        position: absolute;
        top: 100%;
        bottom: 0%;
        right: 0%;
        display: none;
        flex-direction: column;
        width: 40%;
        height: 100vh;
        background-color: rgb(23, 5, 80,0.9);
        padding: 20px;
        animation-name: nav_ani;
        animation-duration: 0.5s;
        z-index: 1;
    }

    @keyframes nav_ani {
        0%{
            right: -20%;
        }
    }
    
    .navon{
        display: flex;
    }

    nav li::after{
        content: ">";
        position: absolute;
        left: 0%;
        top: 0%;
        color:white;
    }

    nav li{
        margin-top: 10px;
        position: relative;
        padding-left: 20px;
    }

    .banner_container{
        background-image: url(./images/banner1.png);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
        position: relative;
    }

    .text{
        z-index:1;
        position: relative;
        top: -50px;
    }

    .banner_container::before{
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100vh;
    }

    .about{
        height: fit-content;
        width: 100%;
        align-items: center;
        background-color: #170550;
        color: white;
    }
    
    .about>h2{
        padding: 15px;
        position: relative;
    }
    
    .me{
        font-family: "poppins",sans-serif;
        font-size: 24px;
        color: #F86F03;
    }
    
    .about>h2::after{
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: 15%;
        left: 0%;
        right: 0%;
    }
    
    .about_container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    
    .about_text{
        max-width: 80%;
        text-align: center;
        padding-bottom: 40px;
    }
    
    .about_text p,h3{
        margin-top: 20px;
        line-height: 1.8;
    }
    
    .about_text a{
        margin-top: 20px;
        background-color: white;
        color: #170550;
        display: flex;
        width: fit-content;
        margin: auto;
        margin-top: 30px;
    }
    
    .about_img{
        background-color: transparent;
        height: 380px;
        max-width: 320px;
        border-radius: 25px;
        max-width: 86%;
        padding: 20px 0;
    }
    
    .about_img img{
        height: 100%;
        width: 100%;
        border-radius: 25px;
    }

    .skills_container{
        width: 80%;
    }

    .projects{
        height: auto;
        padding-bottom: 50px;
    }

    .project_container{
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    .project4{
        display: none;
    }

    .project_items{
        margin-left: auto;
    }
    .project_items img{
        width: 300px;
    }

    .more_project{
        display: block;
        margin: auto;
    }
    
    .more_project a{
        text-decoration: none;
        color: #170550;
        background-color: white;
        width: fit-content;
        padding: 10px 20px;
        border-radius: 50px;
    }
}